body{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	width: 100%; 
	padding: 0;
	margin: 0 auto;

}

/* Mobil */

@media only screen and (max-width: 479px) and (orientation: portrait)

	{

		body{
			background-color: pink;
		}

		p {
			font-family: Times, Georgia;
		}

		#cap {
			height: 130px;
			width: 100%;
			text-align: center;
		}
		#cap img {
			height: 90%;
			width: auto;
		} 
		#contingut {
			height: 1000px;
			width: 100%;
			background-color: white;
		}

		#menorca{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 100%;
			height: 130px;
			position: absolute;
			top: 140px;
			background-image: url("menorca.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			

		}

		#mallorca{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 100%;
			height: 280px;
			position: absolute;
			top: 220px;
			background-image: url("mallorca.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			
		}

		#cabrera{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 100%;
			height: 130px;
			position: absolute;
			top: 340px;
			background-image: url("cabrera.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
		
			

		}

		#eivissa{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 100%;
			height: 180px;
			position: absolute;
			top: 375px;
			background-image: url("eivissa.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			
			

		}

		#formentera{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 100%;
			height: 130px;
			position: absolute;
			top: 445px;
			background-image: url("formentera.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			
			

		}


		#menorca:hover{
			background-image: url("menorca00.svg");
			

		}
	
		#mallorca:hover{
			background-image: url("mallorca00.svg");
			

		}

		#cabrera:hover{
			background-image: url("cabrera00.svg");
			

		}

		#eivissa:hover{
			background-image: url("eivissa00.svg");
			

		}

		#formentera:hover{
			background-image: url("formentera00.svg");
			

		}


		}

@media only screen and (max-width: 479px) and (orientation: landscape)

	{

		body{
			background-color: salmon;
		}

		p {
			font-family: Courier;
		}

		



		
	}

/* Escriptori */

@media only screen and (min-width: 480px) 


	{

		body{



			
		}

		p {

			font-family: Times, Georgia;
		}


		#cap{

			height: 150px;
			width: 100%;
			text-align: center;
			
			
			

			

			

		}

		#contingut{
			height: 630px;
			width: 100%;
			background-color: white;
			
			
			
			
			
		}

		#menorca{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 60%;
			height: 130px;
			position: absolute;
			top: 160px;
			left: 20%;
			background-image: url("menorca.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			

		}

		#mallorca{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 60%;
			height: 280px;
			position: absolute;
			top: 290px;
			left: 20%;
			background-image: url("mallorca.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			
		}

		#cabrera{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 60%;
			height: 130px;
			position: absolute;
			top: 525px;
			left: 20%;
			background-image: url("cabrera.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
		
			

		}

		#eivissa{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 60%;
			height: 180px;
			position: absolute;
			top: 580px;
			left: 20%;
			background-image: url("eivissa.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			
			

		}

		#formentera{
			display: block;
			margin: 0 auto;
			background-color: white;
			width: 60%;
			height: 130px;
			position: absolute;
			top: 720px;
			left: 20%;
			background-image: url("formentera.svg");
			background-size: 100% auto;
			background-repeat: no-repeat;
			
			

		}


		#menorca:hover{
			background-image: url("menorca00.svg");
			

		}
	
		#mallorca:hover{
			background-image: url("mallorca00.svg");
			

		}

		#cabrera:hover{
			background-image: url("cabrera00.svg");
			

		}

		#eivissa:hover{
			background-image: url("eivissa00.svg");
			

		}

		#formentera:hover{
			background-image: url("formentera00.svg");
			

		}

		



	}



