

/* Mobil */

@media only screen and (max-width: 479px) and (orientation: portrait)

	{
		*{
			padding: 0;
			margin: 0;
		}
		
		body{
			width: 100%; 
			padding: 0;
			margin: 0;
			

			background-color: white;
		}

		p {

			font-family: Times, Georgia;
		}

		

		#cap{

			height: 32px;
			width: 100%;
			background-color:#EA413D;

		
		}

		
			
			#menu{
				width: 250px;
				height: 350px;
				list-style-type: none;
				background-color:#EA4B4B;
				margin: 0;
				padding: 0;
				transition: 1s;
				position: absolute;
				top: 0;
				left: -300px;

			}

			#tanca{
				cursor: pointer;
				background-color:#EA4B4B;
				
			}


			a{
				text-decoration: none;
				color: #FFF; 
				line-height: 2.5em;
			}

			h2{
			cursor: pointer;
			
		} 
		

		

		}

@media only screen and (max-width: 479px) and (orientation: landscape)

	{

		body{
			background-color: salmon;
		}

		p {
			font-family: Courier;
		}

		

		
		
		
	}

/* Escriptori */

@media only screen and (min-width: 480px)


	{

		body{
			width: 100%; 
			padding: 0;
			margin: 0;
			height: 1920px;
			
		}

		p {

			font-family: Arial, Georgia;
		}


		#cap{

			height: 32px;
			width: 100%;
			background-color: black;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;	

		}

		


		#contingut{
			height: 90%;
			width: 100%;
			background-color: white;
			float: left;
			position: relative;
			top: 32px;
			
				
		}

		#m1{
			
			position: absolute;
			left: 390px;
			
		}

		#tomate{
			
			width: 300px;
			height: 1000px;
			background-color: tomato;
			
		}





			

		

		#titulointro{
			color: #EA413D;
			text-align: center;
		}

		#nav ul{
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;
			


		}


		#nav li{
			display: inline-block;
			


		}

		#nav a{
			color: white;
			display: block;
			padding: 6px;
			margin-left: 11px;
			margin-bottom: 12px;
			text-decoration: none;
			font-size: 16px;
			
			

		}

		#nav a:hover{
			background-color: #EA413D;
		}

		h2{
			display: none;
			
		} 

		



	}



